DB_HOST=localhost
DB_NAME=alojamientos
DB_USER=
DB_PASS=
DB_PORT=3306
APP_ENV=development
APP_DEBUG=true


# Configuración general de la aplicación
APP_NAME="Alojamientos Kodigo"
APP_NAMESPACE="App"
  
# Configuracion de Logging  
LOG_ENABLED=true  
LOG_LEVEL=DEBUG
TWIG_CACHE_ENABLED=true 
FASTROUTE_CACHE_ENABLED=true 
DI_CACHE_ENABLED=true 
